<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="enlaces">
    <a href="/auth/signup">Sign-up</a>
    <a href="/auth/login">Log in</a>
    <a href="/main">Cats</a>
    <a href="/auth/logout">Log-out</a>
    <a href="/private">Private</a>
</div>
