<div class="center">
<p>You don´t have access to this site, please log-in</p>
<img src="/images/pngegg.png" alt="" width="200px">
<div class="flex">
    <button><a href="/auth/login">Log in</a></button>
    <button><a href="/">main</a></button>
</div>

</div>

