<div class="center ">
<img src="https://c.tenor.com/41I-iMyClCgAAAAd/programmer-programming.gif" alt="">
<div class="flex">
    <button><a href="/auth/profile">go back</a></button>
    <button><a href="/">main</a></button>
</div>

</div>