<div class="center">
  <h2>Profile</h2>
  <h3>What's up {{username}}!!</h3>
  <div class="flex">
    <button><a href="/main">Gatos</a></button>
    <button><a href="/private">Private</a></button>
  </div>
  
  <form action="/auth/logout" method="GET">
    <button type="submit">Logout</button>
  </form>
</div>
